<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeBlock.com</title>
</head>
<body>
  <%- include('nav') %>
  <h1>Hi from home page</h1>
  <p>The sum of 3 + 4 = <%= 3 * 4 %></p>
</body>
</html>